html, body {
	/*background-color: #000; 	*/
	margin: 0;
	border:0;
	padding:0;
	/*height: 100%;*/
	/*user-select: none;*/
	overflow: hidden;
}

canvas{
	height:100vh;
	width:100vw;
}
#hid{
	display: none;
}
.szoveg {
	position: absolute;
	/*color: #fff;*/
	right: 1vw;
	top: 0;
	z-index: 1;
	width: 10vw;
	font-family: Helvetica;
	word-wrap: inherit;
	text-align: justify;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */ 
}

@media only screen and (max-width: 600px) {
	#hid{
		display: block;
		font-family: Helvetica;

	}
	canvas {
		display:none;
	}
	.szoveg{
		width: 20vw;
		word-wrap: auto;
		font-size: 8px;

	}
}
